.pill {
    @apply border border-primary bg-primary-purple px-3 py-1.5 text-xs rounded-full inline-block;
}

.pill-success {
    @apply border-green-500 text-green-500 bg-green-500/10;
}

.pill-warning {
    @apply border-yellow-500 text-yellow-500 bg-yellow-500/10;
}

.gray-text {
    @apply text-gray-400;
}

.tab {
    @apply px-5 py-1.5 bg-primary-purple border border-gray-800 rounded-xl cursor-pointer;
}

.tab-inactive {
    @apply px-5 py-1.5 text-gray-400 hover:text-gray-300 transition cursor-pointer;
}

.steps {
    min-width: auto;
    display: flex;
    flex: 1;
    gap: 0.8rem;
    padding: 0.2rem;

    overflow-x: auto;
    overflow-y: hidden;
}

.step-card {
    padding: 20px;
    min-height: 7.4rem;
    max-height: 12rem;

    min-width: 14rem;
    max-width: 16rem;

    transition: border 0.1s;
    user-select: none;

    flex: 0 1 500px;
    overflow-y: auto;
    overflow-x: hidden;

    @apply bg-primary-dark text-white border border-gray-600 rounded-xl text-xs;
}

.step-card img,
.step-card video {
    @apply rounded;
}

.step-card h1,
.step-card h2,
.step-card h3 {
    font-weight: bold;
}

table {
    @apply bg-primary-foreground/50 rounded-xl;
}

/* Row of Table Headers */
table tr:first-child {
    @apply text-left;
}

table th {
    @apply p-3 pl-5 bg-primary-foreground;
}

table th:nth-child(1) {
    @apply rounded-tl-xl;
}

table th:last-child {
    @apply rounded-tr-xl;
}

table tr td {
    @apply p-3 pl-5;
}

.gradient-card {
    transform-style: preserve-3d;
}

.gradient-card::before {
    content: '';
    position: absolute;
    width: 101.75%;
    height: 101.75%;

    left: -0.75%;
    top: -0.75%;

    background: linear-gradient(to bottom left, #FF2CF7, #FB047BCB, #FF7EBCCF, #FFFFFF00, #49FFE9A6, #130EFF);

    transform: translateZ(-1px);

    @apply rounded-xl;
}

.navigation-loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0006;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}