.pill {
    @apply border border-accent-foreground bg-accent-foreground/10 px-3 py-1.5 text-xs rounded-full inline-block;
}

.pill-success {
    @apply border-green-500 text-green-500 bg-green-500/10;
}

.pill-warning {
    @apply border-yellow-500 text-yellow-500 bg-yellow-500/10;
}

.gray-text {
    @apply text-gray-400 dark:text-gray-300;
}

.steps {
    min-width: auto;
    display: flex;
    flex: 1;
    gap: 1rem;
    padding: 0.2rem;

    overflow-x: auto;
}

.step-card {
    padding: 5px 10px;
    min-height: 7.4rem;
    max-height: 8rem;

    min-width: 14rem;
    max-width: 16rem;
    background-color: white;
    color: black;
    border-radius: 6px;
    transition: border 0.1s;
    user-select: none;

    flex: 0 1 500px;
}